<div class="container_editar">
  <h2 class="titulo_edit">Editar Perfil</h2>
  <section class="edit_perfil">
    <%= form_with model: @user, url: perfil_path, method: :patch, data: {turbo: false} do |f| %>
      
      <div class="input-container">
        <%= f.label :nombre,"Nombre" %>
        <%= f.text_field :nombre, class: "barra_nana", placeholder: "Ingresa tu nombre", id: "user_name" %>
      </div>

      <div class="input-container">
        <%= f.label :apellido, "Apellido" %>
        <%= f.text_field :apellido, class: "barra_apeape", placeholder: "Ingresa tu apellido", id: "user_last_name" %>
      </div>

      <div class="input-container">
        <%= f.label :telefono, "Teléfono" %>
        <%= f.text_field :telefono, type: "tel", placeholder: "Ingresa tu teléfono", id: "user_phone" %>
      </div>

      <div class="input-container">
        <%= f.label :direccion, "Dirección" %>
        <%= f.text_field :direccion, placeholder: "Ingresa tu dirección", id: "user_address" %>
      </div>

      <div class="input-container">
        <%= f.label :email, "email" %>
        <%= f.email_field :email, class: "barra_corre", placeholder: "Ingresa tu correo", autocomplete: "email", id: "user_email" %>
      </div>
      
      <div style="grid-column: span 2; display: flex; justify-content: center; gap: 15px; margin-top: 10px;">
        <%= f.submit "Guardar cambios", class: "btn-success" %>
        <%= link_to 'Cancelar', user_profile_path, class: 'btn-secondary' %>
      </div>
    <% end %>
  </section>
</div>