<h1>Editar Perfil</h1>

<%= form_with model: @user, url: user_profile_path, method: :patch, local: true do |f| %>
  <div>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>

  <div>
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>

  <div>
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>

  <div>
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
 <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.submit "Guardar cambios", class: "btn btn-success" %>
  </div>
  
<% end %>

<%= link_to 'Cancelar', user_profile_path, class: 'btn btn-secondary' %>
