<h2 class="titulo_perfil">Mi Perfil</h2>

<div class="container_perfil">
  <div class="titulo_wrapper">
    <%= image_tag "user.jpeg", class: "UserP-img" %>
  </div>
  <section class="informacion">
    <p class="campos"><strong>Nombre:</strong> <%= @user.nombre %></p>
    <p class="campos"><strong>Apellido:</strong> <%= @user.apellido %></p>
    <p class="campos"><strong>Teléfono:</strong> <%= @user.telefono %></p>
    <p class="campos"><strong>Email:</strong> <%= @user.email %></p>
    <%= link_to 'Editar Perfil', edit_user_profile_path, class: 'buton' %>
  </section>

  
</div>
