<div class="form-section">
  <% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
  <div class="mb-3">
    <%= form_with url: update_carousel_path, method: :patch, local: true, multipart: true, scope: :user do |form| %>
      <h3><%= form.label :Agregar_Imagenes, class: "form-label" %></h3>
      <%= form.file_field :carousel_images, multiple: true, class: "form-control" %>
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="carousel-preview">
  
  <div class= "image-thumbnails">
    <% @admin.carousel_images.each do |image|%>
      <div  class="card" style="width: 20rem;">
        <%= image_tag image.variant(resize_to_limit: [350, 350]), class:"img-thumbnails"%>
        <%= button_to "Eliminar Imagen", delete_carousel_image_path(image), method: :delete, class:"btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
