<h2>Nuevo mensaje de soporte recibido</h2>

<p><strong>Nombre:</strong> <%= @message.name %> <%= @message.last_name %></p>
<p><strong>Email:</strong> <%= @message.email %></p>
<p><strong>Asunto:</strong> <%= @message.subject %></p>

<p><strong>Mensaje:</strong></p>
<p><%= @message.message_text %></p>
