<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesi칩n</title>
    <link rel="stylesheet" href="app/assets/stylesheets/sign_in.css">
  
  </head>
  <body class="body">

   <section class="container" style="width: 80vh;">
    <%= image_tag 'ale_logo.jpg', alt: 'logo', class: 'img_logo' %>
      <h2>Iniciar sesi칩n</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'}) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="opcionesb">
         <%= render "devise/shared/links" %>
        </div>

        <div class="actions">
          <%= f.submit "Iniciar sesi칩n" %>
        </div>
        
        <a class="texto" href="http://localhost:4000/inicio#index"> Quiz치s mas tarde</a>
      <% end %>


      
    </section>
  </body>
</html>



