<section class="form-section">
	<%= form_with(url: create_address_checkouts_path, model: @shipping_address, local: true) do |form| %>

		<% if @shipping_address.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@shipping_address.errors.count, "error") %> La dirrecion no pudo ser agregada</h4>
          <ul>
              <% @shipping_address.errors.each do |error| %>
              <li><%= error.full_message %></li>
              <% end %>
          </ul>
        </div>
    <% end %>


     <div class="mb-3">
            <%= form.label :nombre, class: "form-label" %>
            <%= form.text_field :nombre, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :apellido, class: "form-label" %>
            <%= form.text_field :apellido, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :telefono, class: "form-label" %>
            <%= form.text_field :telefono, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :direccion, class: "form-label" %>
            <%= form.text_field :direccion, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :municipio, class: "form-label" %>
            <%= form.text_field :municipio, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :barrio, class: "form-label" %>
            <%= form.text_field :barrio, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :apartamento, class: "form-label" %>
            <%= form.text_field :apartamento, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= form.label :codigo_postal, class: "form-label" %>
            <%= form.number_field :codigo_postal, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= form.label :inidicacion_adicionales, class: "form-label" %>
            <%= form.text_field :inidicacion_adicionales, class: "form-control" %>
        </div>



        <div class="mt-4">
            <%= form.submit "Continuar Compra", class: "btn btn-primary" %>
        </div>

	<% end %>
</section>