<section>
    <div>

            <div>
                <% if @shipping_addresses.empty? %>
                    <%= render 'form',  shipping_address: @shipping_address%>
                <% else %>
                    <h4>Elegir forma de entrega</h4>
                    <% predeterminada = @shipping_addresses.find(&:predeterminada?) %>
                    <div class="list-group mb-4">
                        <% if predeterminada.present? %>
                            <div class="list-group-item">
                                <p><strong>Dirección:</strong> <%= predeterminada.direccion %>, <%= predeterminada.municipio %>, <%= predeterminada.barrio %></p>
                                <%= link_to 'Editar', seleccionar_direccion_checkouts_path , class: "btn btn-warning btn-sm me-2" %>
                            </div>
                            <%= link_to 'Continuar', checkout_path(@order), class: "btn btn-warning btn-sm me-2"%>
                        <% else %>
                            <p>No tienes una direccion predeterminada.</p>
            
                        <% end %>
                    </div>
                <% end %>
            </div>
    </div>
</section>