<section class="formD">
    <div>
            <div>
                <% if @shipping_addresses.empty? %>
                    <%= render 'form',  shipping_address: @shipping_address%>
                <% else %>
                    <h4>Elegir forma de entrega</h4>
                    <% predeterminada = @shipping_addresses.find(&:predeterminada?) %>
                    <article class="list-group mb-4">
                        <% if predeterminada.present? %>
                            <div class="list-group-item">
                                <% if predeterminada.present? %>
                                    <div>
                                        <p><strong>Dirección:</strong> 
                                        <%= predeterminada.direccion %>, 
                                        <%= predeterminada.neighborhood.municipality.nombre %>, 
                                        <%= predeterminada.neighborhood.nombre %>
                                        </p>
                                    </div>
                                    <% else %>
                                    <p>No tienes una dirección predeterminada.</p>
                                    <% end %>
                                <%= link_to 'Editar', seleccionar_direccion_checkouts_path , class: "btn btn-warning btn-sm me-2" %>
                            </div>
                            <%= link_to 'Continuar', checkout_path(@order), class: "btn btn-warning btn-sm me-2"%>
                        <% else %>
                            <p>No tienes una direccion predeterminada.</p>
            
                        <% end %>
                    </article>
                <% end %>
            </div>
    </div>
</section>
