<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Address</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <%= javascript_include_tag 'form-direccion', defer: true %>

  </head>
  <body>
<section class="stp1  container py-5">

  <% if action_name == 'new' %>
    <h2 class="mb-4 fw-bold" style="text-align: center;">Nueva Dirección</h2>
  <% elsif action_name == 'edit' %>
    <h2 class="mb-4 fw-bold" style="text-align: center;">Editar Dirección</h2>
  <% else %>
    <h2 class="mb-4 fw-bold" style="text-align: center;">Tu Dirección</h2>
  <% end %>

  <%= form_with(model: @shipping_address, local: true, class: "needs-validation") do |form| %>
    
    <% if @shipping_address.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@shipping_address.errors.count, "error") %> La dirección no pudo ser agregada</h4>
        <ul>
          <% @shipping_address.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3">
      <div class="col-md-6">
        <%= form.label :nombre, "Nombre", class: "form-label" %>
        <%= form.text_field :nombre, class: "form-control", placeholder: "John" %>
      </div>
      <div class="col-md-6">
        <%= form.label :apellido, "Apellido", class: "form-label" %>
        <%= form.text_field :apellido, class: "form-control", placeholder: "Terner" %>
      </div>

      <div class="col-md-6">
        <%= form.label :telefono, "Telefono", class: "form-label" %>
        <%= form.text_field :telefono, class: "form-control", placeholder: "123-456-7890" %>
      </div>

      <% unless user_signed_in? %>
        <div class="col-md-6">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" name="email" id="email" class="form-control" required>
        </div>
      <% end %>

      <div class="col-12">
        <%= form.label :direccion, "Dirección", class: "form-label" %>
        <%= form.text_field :direccion, class: "form-control", placeholder: "380-394 11th Ave, NY 10001" %>
      </div>

      <%= form.label :department_id, "Departamento" %>
      <%= select_tag "shipping_address[department_id]", 
            options_from_collection_for_select(@departments, :id, :nombre, @selected_department_id),
            prompt: "Seleccione un departamento",
            id: "department_select", class: "form-select" %>

      <%= form.label :municipality_id, "Municipio" %>
      <%= select_tag "shipping_address[municipality_id]", 
            options_from_collection_for_select(@municipalities || [], :id, :nombre, @selected_municipality_id),
            prompt: "Seleccione un municipio",
            id: "municipality_select", class: "form-select" %>

      <%= form.label :neighborhood_id, "Barrio" %>
      <%= select_tag "shipping_address[neighborhood_id]", 
            options_from_collection_for_select(@neighborhoods || [], :id, :nombre, @selected_neighborhood_id),
            prompt: "Seleccione un barrio",
            id: "neighborhood_select", class: "form-select" %>


      <div class="col-md-6">
        <%= form.label :codigo_postal, "Codigo Postal (optional)", class: "form-label" %>
        <%= form.number_field :codigo_postal, class: "form-control" %>
      </div>

      <div class="col-12">
        <%= form.label :indicaciones_adicionales, "informacion adicional (optional)", class: "form-label" %>
        <%= form.text_area :indicaciones_adicionales, class: "form-control" %>
      </div>

      <div class="col-12 mt-4">
        <%= form.submit "Continuar", class: "btn btn-primary w-100" %>
      </div>
    </div>

  <% end %>
</section>
</body> 
</html>
