<section>
    <div>

            <div>
                <% if @shipping_addresses.empty? %>
                    <%= render 'form',  shipping_address: @shipping_address%>
                <% else %>
                    <h4>Escoge en donde vas a recibir tus pedidos</h4>
                    <h5>Tus Direcciones</h5>
                    <div class="list-group mb-4">
                        <% @shipping_addresses.each do |address| %>
                        <div class="list-group-item">
                            <p><strong>Dirección:</strong> <%= address.direccion %>, <%= address.municipio %>, <%= address.barrio %></p>

                              <%= form_with url: set_predeterminada_shipping_address_path(address), method: :patch, local: true do %>
                                <%= check_box_tag "predeterminada", "1", address.predeterminada, onchange: "this.form.submit()"%>
                                <%= label_tag "predeterminada", "Usar como predeterminada"%>
                              <% end %>
                              <%= link_to 'Editar', edit_shipping_address_path(address), class: "btn btn-warning btn-sm me-2" %>
                              <%#= button_to 'Eliminar', shipping_address_path(address),
                                            method: :delete,
                                            class: 'btn btn-danger btn-sm' %>
                        </div>

                        <% end %>
                    </div>

                     <div>
                        <%= link_to 'Agregar nueva direccion',  new_shipping_address_path, class: "btn btn-warning btn-sm me-2"%>
                    </div>
                <% end %>
            </div>
    </div>
</section>