<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Address</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <%= stylesheet_link_tag "direcc-edit", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'setpredeterminado', defer: true %>
  </head>
<body>
<section class="formD">
    <div>

            <div>
                <% if @shipping_addresses.empty? %>
                    <%= render 'form',  shipping_address: @shipping_address%>
                <% else %>
                    <h4>Escoge en donde vas a recibir tus pedidos</h4>
                    <hr style="border: 1px solid #ccc; margin: auto; margin-bottom: 20px; width: 100%;">
                    <div class="list-group mb-4">
                        <% @shipping_addresses.each do |address| %>
                        <div class="list-group-item">
                            <% if address.neighborhood.present? %>
                              <p>
                                <strong>Dirección:</strong>
                                <%= address.direccion %>,
                                <%= address.neighborhood.nombre %>,
                                <%= address.neighborhood.municipality.nombre %>,
                                <%= address.neighborhood.municipality.department.nombre %>
                              </p>
                            <% else %>
                              <p><strong>Dirección:</strong> <%= address.direccion %></p>
                            <% end %>


                              <%= check_box_tag "predeterminada", "1", address.predeterminada, 
                                    data: { address_id: address.id }, class: "predeterminada-checkbox" %>
                              <%= label_tag "predeterminada", "Usar como predeterminada" %>
                              <%= link_to 'Editar', edit_shipping_address_path(address), class: "btn btn-warning btn-sm me-2" %>
                              <%#= button_to 'Eliminar', shipping_address_path(address),
                                            method: :delete,
                                            class: 'btn btn-danger btn-sm' %>
                        </div>

                        <% end %>
                    </div>

                     <div>
                        <%= link_to 'Agregar nueva direccion',  new_shipping_address_path, class: "btn btn-warning btn-sm me-2"%>
                    </div>
                <% end %>
            </div>
    </div>
</section>

</body>
</html>