<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "bootstrap", media: "all" %>
    <%= stylesheet_link_tag "product", media: "all" %>
    <%= stylesheet_link_tag "home", media: "all" %>
    <%= javascript_include_tag "home", defer: true %>
    <script src="https://kit.fontawesome.com/ca178badbf.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <main>
        <aside class="d-flex mb-3">
            <div class="p-2" id="logo">
                <%= image_tag "ale_logo.jpg", class: "logo-img" %>
                <label class="">Ale beauty art</label>
            </div>
            <div class="p-2" id="lnks">
                <button class="btn-recargar active menu-btn" class="btn-recargar" onclick="changeColor(this)">
                    <span class="left">
                        <i class="fa-solid fa-house"></i>
                        <span class="label"><%= link_to "Home", home_path %></span>
                        
                    </span>
                </button>
                <div class="sect">
                    <button class="toggle-btn menu-btn">
                        <span class="left">
                            <i class="fa-regular fa-folder"></i>
                            <span class="label">Productos</span>
                        </span>
                        <i class="fa-solid fa-chevron-down fa-xs chevron-icon"></i>
                    </button>
                    <div class="content">
                        <button class="btn-recargar" onclick="changeColor(this)">
                        <%= link_to "| Ver Productos", products_path %>
                        </button>
                        
                        <button class="btn-recargar" onclick="changeColor(this)">
                        <%= link_to "| Agregar Producto", new_product_path %>
                        </button>
                    </div>
                </div>
                <div class="section">
                    <button class="toggle-btn menu-btn">
                        <span class="left">
                            <i class="fa-regular fa-folder"></i>
                            <span class="label">Categorias</span>
                        </span>
                        <i class="fa-solid fa-chevron-down fa-xs chevron-icon"></i>
                    </button>
                    <div class="content">
                        <button class="btn-recargar" onclick="changeColor(this)">
                        <%= link_to "| Ver Categorias", categories_path %>
                        </button>
                        <button class="btn-recargar" onclick="changeColor(this)">
                        <%= link_to "| Agregar Categoria", new_category_path%>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mt-auto p-2" id="sttgs">
                <button class="menu-btn" id="Tema" onclick="cambiarTema()">
                    <span class="left">
                        <i class="fa-solid fa-moon fa-xs"></i>
                        <span class="label">Tema</span>
                    </span>
                </button>
                <span class="left">
                <%= button_to " Cerrar sesión", destroy_user_session_path, method: :delete, class:"logout" %>
                </span>
            </div>
        </aside>
        <section id="nvg">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand">
                       <strong>Welcome, <!-- user name --> <label>cris</label></strong>
                    </a>
                    <form class="d-flex input-group w-auto">
                    <input
                        type="search"
                        class="form-control rounded"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="search-addon"
                    />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                    </form>
                </div>
            </nav>

            <section id="refesh">
                <%= yield%>
               
            </section>
        </section>
        
    </main>
  </body>
</html>
