
    <!-- Contenido principal -->
    <main class="content-wrap">
      <!-- Productos destacados -->
      <section class="mb-5 products-section">
        <div class="d-flex justify-content-center align-items-center mb-3">
          <h3 class="fw-bold section-title">Productos</h3>
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-3">
          <% @products.each do |product| %>
            <div class="card shadow-sm h-100" style="width: 18rem;">
              <% if product.imagen.attached? %>
                <%= image_tag product.imagen.variant(resize_to_limit: [500, 500]), class:"card-img-top", alt:"Producto Maquillaje", style:"width: 100%; max-height: 190px; object-fit: contain;" %>
              <% else %>
                <div class="card-img-top d-flex align-items-center justify-content-center" style="height: 190px; background-color: #f8f9fa;">
                  <p class="text-muted">Sin imagen</p>
                </div>
              <% end %>
              <div class="card-body">
                <h5 class="card-title fw-bold text-dark"><%= product.nombre_producto %></h5>
                <p><strong>Categoria:</strong> <%= product.category.nombre_categoria %></p>
                <p class="card-text text-dark"><strong>$<%= product.precio_producto %></strong></p>
              </div>
              <div class="card-footer bg-transparent border-0">
                <button class="add-to-cart">Añadir al carrito</button>
              </div>
              <div class="card-footer bg-transparent border-0">
                <%= link_to "Ver", show_product_client_path(product), class: "btn btn-outline-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    </main>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Dropdown menu para móviles
      function toggleDropdown() {
        const menu = document.getElementById('dropdown-menu');
        if (menu.style.display === 'flex') {
          menu.style.display = 'none';
        } else {
          menu.style.display = 'flex';
        }
      }
    });
  </script>
