<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú desplegable</title>
  <link rel="stylesheet" href="Backend/app/assets/stylesheets/inicio.css">
</head>
<body>
<header class="navbar">
  <div class="menu-icon" onclick="toggleMenu()">☰</div>

  <div class="logo">
    <%= image_tag "ale_logo.jpg" %>
  </div>

  <nav>
    <%= link_to "INICIO", inicio_path %>
     <%= link_to "PRODUCTOS", productos_path %>
    <a href="#">ACERCA DE</a>
    <a href="#">CONTACTO</a>
  </nav>

  <div class="search">
    <input type="text" placeholder="Buscar...">
  </div>

  <div class="user-options">
    <span id="profile-icon">👤</span>
  </div>

  <div class="cart">🛒</div>
  </header>

  <!-- Menú desplegable -->
  <div id="dropdown-menu" class="dropdown-menu">
  <a href="#">Mis Compras</a>
  <a href="#">Favoritos</a>
  <a href="#">Ajustes</a>
  </div>
  </div>
  <script>
  function toggleMenu() {
    var menu = document.getElementById('dropdown-menu');
    if (menu.style.display === 'flex') {
      menu.style.display = 'none';
    } else {
      menu.style.display = 'flex';
    }
  }
  </script>
  <!-- Menu perfil -->
  <div id="menu-perfil">
    <ul id="ul-perfil">
      <li class="logout-link"><%= link_to 'Mi perfil' %></li>
      <li class="logout-link"><%= link_to 'Configuración' %></li>
      <li class="logout-link"><%= link_to 'Cerrar sesión', "https://localhost:4000/users/sign_out", method: :delete %></li>
    </ul>
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const profileIcon = document.getElementById("profile-icon");
    const dropdownMenu = document.getElementById("menu-perfil");
    const userOptions = document.getElementById("user-options");

    profileIcon.addEventListener("click", function (e) {
      e.stopPropagation(); // evita cierre inmediato
      dropdownMenu.style.display = dropdownMenu.style.display === "none" ? "block" : "none";
    });

    document.addEventListener("click", function (event) {
      if (!userOptions.contains(event.target)) {
        dropdownMenu.style.display = "none";
      }
    });
  });
</script>


  <!-- Productos destacados -->
  <section class="mb-5">
    <div class="d-flex justify-content-center align-items-center mb-3">
      <h3 class="fw-bold">Productos</h3>
    </div>

      <div class="row justify-content-center">
      <% @products.each do |product| %>
            <div class="col-md-3 mb-4">
            <div class="card h-100 border-0 shadow-sm">
                <% if product.imagen.attached? %>
                    <%= image_tag product.imagen.variant(resize_to_limit: [300, 300]), class:"card-img-top", alt:"Producto Maquillaje", style:"height: 200px; object-fit: cover;"%>
                    <% else %>
                    <p>Sin imagen</p>
                <% end %>
                <div class="card-body">
                <h5 class="card-title fw-bold text-dark"><%= product.nombre_producto %></h5>
                <p><strong>Categoria:</strong> <%= product.category.nombre_categoria %> </p>
                <p class="card-text text-dark"><strong>$</strong><%= product.precio_producto%></p>
                </div>
            </div>
            </div>
        <% end %>
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center py-4 mt-5">
    © 2025 Tienda de Belleza - Todos los derechos reservados
  </footer>
</div>
</body>
</html>
