<!DOCTYPE html>
<html lang="es">
<head>
  <%= stylesheet_link_tag "productos" %>
  <%= stylesheet_link_tag "showClient.css" %>
</head>

    <!-- Contenido principal -->
    <main class="content-wrap">
        <div id="shw">
            <div id="fotoshow">
                <% if @product.imagen.attached? %>
                    <%= image_tag @product.imagen, class: "show-img" %>
                    <% else %>
                    <p>Sin imagen</p>
                <% end %>
            </div>

            <div id="datashow" >
                <div id="infoshow">
                    <div>
                      <p class="fs-1 fw-semibold"><%= @product.nombre_producto %></p>
                      <p class="card-text fs-5"><%= @product.category.nombre_categoria %></p>
                    </div>
                    <div>
                      <p class="fw-semibold">DESCRIPCIÓN</p>
                      <p id="des-prod"> <%= @product.descripcion %> </p>
                    </div>
                    <h5 id="preci1" class="fw-semibold fs-2">$<%= @product.precio_producto %></h5>
                </div>
                
                <div id="btnshow">
                    <h5 id="preci2" class="fw-semibold fs-2">$<%= @product.precio_producto %></h5>
                   <div>
                      <%=button_to "Añadir al carrito", add_to_cart_path(@cart),
                                    method: :post,
                                    params: { product_id: @product.id, cantidad: 1 }, class:"add-to-cart"%>
                  </div>
                </div>

            </div>

        </div>
      
    </main>
  <!-- Scripts -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {

      // Dropdown menu para móviles
      function toggleDropdown() {
        const menu = document.getElementById('dropdown-menu');
        if (menu.style.display === 'flex') {
          menu.style.display = 'none';
        } else {
          menu.style.display = 'flex';
        }
      }
    });
    
  </script>
