<div>
    <articule id="filtro">
        <%= form_with url: products_path, method: :get, local: true do %>
            <%= label_tag :name, "Nombre" %>
            <%= text_field_tag :name, params[:name] %>

            <%= label_tag :min_price, "Min-Precio" %>
            <%= number_field_tag :min_price, params[:min_price] %>

            <%= label_tag :max_price, "Max-Precio" %>
            <%= number_field_tag :max_price, params[:max_price] %>

            <%= label_tag :category_id, "Categoría" %>
            <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :nombre_categoria, params[:category]), include_blank: true %>

            <%= submit_tag "Buscar" %>
        <% end %>
    </articule>

    <% content_for :title, "Productos"%>

    <h1> Productos </h1>

    <div id="order">
        <% @products.each do |product| %>
            <%= render product %>
        <% end %> 
    </div>
</div>
