<div>
  
    <div class="offcanvas offcanvas-end" tabindex="-1" id="filtroOffcanvas" aria-labelledby="filtroOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="filtroOffcanvasLabel">Filtrar productos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <%= form_with url: products_path, method: :get, local: true do %>
          <div class="mb-3">
            <%= label_tag :min_price, "Precio mínimo" %>
            <%= number_field_tag :min_price, params[:min_price], placeholder: "Mínimo", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= label_tag :max_price, "Precio máximo" %>
            <%= number_field_tag :max_price, params[:max_price], placeholder: "Máximo", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :nombre_categoria, params[:category]), include_blank: "Categoría", class: "form-select" %>
          </div>

          <%= submit_tag "Filtrar", class: "btn btn-dark w-100" %>
        <% end %>
      </div>
    </div>


    <ul class="ubi">
      <%= link_to "Home", home_path %> / 
      <%= link_to "Productos", products_path, class: "ubi-active" %>
    </ul>

    <% content_for :title, "Productos"%>

    <h1> Productos </h1>

        <% if @products.any? %>
          <div id="order">
            <% @products.each do |product| %>
              <%= render product %>
            <% end %>
          </div>
        <% else %>
          <div class="no-products">
            <%= image_tag "Not_found.png" %>
            <p>No se encontraron productos.</p>
          </div>
        <% end %>
</div>
