<div id="shw">
    <div id="fotoshow">
        <% if @product.imagen.attached? %>
            <%= image_tag @product.imagen, class: "show-img" %>
            <% else %>
            <p>Sin imagen</p>
        <% end %>
    </div>

    <div id="datashow" >
        <div id="infoshow">
            <h4><%= @product.nombre_producto %></h4>
            <p class="card-text"><%= @product.category.nombre_categoria %></p>
            <h5>$<%= @product.precio_producto %></h5>
            <p> <strong>Stock: </strong> <%= @product.stock %> </p>
            <p id= "des"> <strong>DESCRIPCIÓN</strong></p>
            <p id= "des-prod"> <%= @product.descripcion %> </p>
        </div>
        <div id="btnshow">
            <%= link_to "Editar", edit_product_path(@product), class:"btn btn-info"%>
            <%= link_to "Volver", products_path, class:"btn btn-secondary" %>
            <%= button_to "Eliminar", @product, class:"btn btn-danger", method: :delete%>
        </div>

    </div>