<div id="shw">
    <div id="fotoshow">
        <% if @product.imagen.attached? %>
            <%= image_tag @product.imagen, class: "show-img" %>
            <% else %>
            <p>Sin imagen</p>
        <% end %>
    </div>
    <div id="datashow" >
        <div id="infoshow">
            <div>
                <p class="fs-1 fw-semibold"><%= @product.nombre_producto %></p>
                <p class="card-text fs-5"><%= @product.category.nombre_categoria %></p>
            </div>
            <div>
                <p> <strong>Stock: </strong> <%= @product.stock %> </p>
                <p class="fw-semibold">DESCRIPCIÓN</p>
                <p id="des-prod"> <%= @product.descripcion %> </p>
            </div>
            <h5 id="preci1" class="fw-semibold fs-2">$<%= @product.precio_producto %></h5>
        </div>
    
        <div id="btnshow">
            <h5 id="preci2" class="fw-semibold fs-2">$<%= @product.precio_producto %></h5>
            <div id="comd">
                <%= link_to "Editar", edit_product_path(@product), class:"btn btn-info"%>
                <%= link_to "Volver", products_path, class:"btn btn-secondary" %>
                <%= button_to "Eliminar", @product, class:"btn btn-danger", method: :delete%>
            </div>
        </div>

    </div>
</div>