<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Appsena" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <title>Mockup Tienda</title>    
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header class="navbar">
      <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <div class="logo">
          <%= image_tag "logo.jpg" %>
        </div>
        <nav>
            <a href="#">INICIO</a>
            <a href="#">PRODUCTOS</a>
            <a href="#">ACERCA DE</a>
            <a href="#">CONTACTO</a>
        </nav>
        <div class="search">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="user-options">
          <span class="profile">👤</span>
          <a href="#" class="logout-link">Cerrar Sesión</a>
        </div>
        <div class="cart">🛒</div>
      </header>
      <section><!-- Menú desplegable oculto -->
        <div id="dropdown-menu" class="dropdown-menu">
            <a href="#">Mis Compras</a>
            <a href="#">Favoritos</a>
            <a href="#">Ajustes</a>
        </div> 
        
        <div class="bienvenida">
          ¡Bienvenido/a a nuestra tienda de maquillaje!
        </div>

      <section class="slider">
          <p>SECTION</p>
          <div class="dots">
              ● ○ ○ ○
          </div>
      </section>

      <section class="articles">
          <article>ARTICLE</article>
          <article>ARTICLE</article>
          <article>ARTICLE</article>
          <article>ARTICLE</article>
          <button class="view-more">Ver Más</button>
      </section>

      <section class="section-extra">
          <p>SECTION</p>
      </section>

      <footer>
          FOOTER
      </footer>

      <script>
          function toggleMenu() {
              var menu = document.getElementById('dropdown-menu');
              if (menu.style.display === 'flex') {
                  menu.style.display = 'none';
              } else {
                  menu.style.display = 'flex';
              }
          }
      </script>
    </section>
  </body>
</html>
